@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .content {
    @apply items-start grid min-h-screen grid-rows-[20px_1fr_20px] justify-items-center gap-0 p-4 pb-20 font-[family-name:var(--font-geist-sans)] sm:p-20 min-w-96;
  }

  .badge {
    @apply inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-700 ring-1 ring-inset ring-slate-700/10 bg-gray-100;

    &.badge-banger {
      @apply bg-red-100;
    }

    &.badge-alloy {
      @apply bg-red-200;
    }

    &.badge-f1 {
      @apply bg-orange-100;
    }

    &.badge-f2 {
      @apply bg-orange-200;
    }
  }
}
