@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .badge {
    @apply mr-2 mt-1 inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-500/10 bg-gray-100;

    &.badge-banger {
      @apply bg-red-100;
    }

    &.badge-alloy {
      @apply bg-red-200;
    }

    &.badge-f1 {
      @apply bg-orange-100;
    }

    &.badge-f2 {
      @apply bg-orange-200;
    }
  }
}